<h4>Detailed Order Report</h4>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">UserName</th>
      <th scope="col">OrderNo</th>
      <th scope="col">OrderDetailed</th>
      <th scope="col">Status</th>
      <th scope="col">TotalAmount</th>
      <th scope="col">TotalQty</th>
    </tr>
  </thead>
  <tbody id="detailed-data">
  </tbody>
</table>

<h5 id="product-count">Total Product Count : {{total_ProductCount}}</h5>