
<div class="row">
    {{!-- Tile1-  Today’s total  order’s count , Current week total order’s count. --}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Today’s total  order’s count - {}</h5>
        <h5 class="card-title">Current week total order’s count - {}</h5>
      </div>
    </div>
  </div>
  {{!-- Tile2- Today’s total  Order’s amount, Current week total order’s amount. --}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tile2- Today’s total  Order’s amount : {}</h5>
        <h5 class="card-title">Current week total order’s amount : {}</h5>
      </div>
    </div>
  </div>
  {{!-- Tile3- Current month total order’s count, Last month total order’s count. --}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Current month total order’s count : {}</h5>
        <h5 class="card-title">Last month total order’s count : {}</h5>
      </div>
    </div>
  </div>
  {{!-- Tile4- Current month total order’s amount, Last month total order’s amount. --}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Current month total order’s amount : {}</h5>
        <p class="card-text">Last month total order’s amount : {}</p>
      </div>
    </div>
  </div>
</div>