{{!-- top 5 orders table --}}
<h4>Top 5 Users</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">User Name</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Total Quantity</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody id="top-user-data">
  </tbody>
</table>


{{!-- bottom 5 tables --}}
<h4>Bottom 5 Users</h4>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">User Name</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Total Quantity</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody id="bottom-user-data">
  </tbody>
</table>
