<header>
    {{>navigation}}
</header>

<main>
    <section class="dashboard-section" id="total-count">
        {{>row1}}
    </section>

    <section class="dashboard-section" id="trend-chart">
        {{>chart}}
    </section>

    <section class="dashboard-section" id="table-order">
        {{>order_table}}
    </section>

    <section class="dashboard-section" id="table-user">
        {{>user_table}}
    </section>

    <section class="dashboard-section" id="pills-report">
        {{>order_report}}
    </section>
</main>



