<header>
    {{>navigation}}
</header>

<main>
    <section id="total-count">
        {{>row1}}
    </section>

    <section id="trend-chart">
        {{>chart}}
    </section>

    <section id="table-order">
        {{>order_table}}
    </section>

    <section id="table-user">
        {{>user_table}}
    </section>

    <section id="pills-report">
        {{>order_report}}
    </section>
</main>




