.container-fluid{
    padding: 0 !important;
}

/* styling sections */
body .dashboard-section{
    padding : 4%;
}

body .dashboard-section:nth-child(2n+1){
    background-color: lightgray;
}

/* styling cards in row 1 */
.card{
    margin: 20px auto;
}

.card img{
    height: 300px;
}

.card span{
    color: teal;
}

/* styling chart */
#mychart{
    max-height: 90vh;
    max-width: 800px;
    margin: auto;
}

/* styling detailed report */
#product-count{
    display: flex;
    justify-content: flex-end;
    background-color: #343a40;
    color: coral;
    padding: 2%;
}

h4{
    padding: 2%;
    text-shadow: 1px 1px 2px;
}